a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #00AEEF;
}

.main-header,
.main-footer,
main{
	width: 600px;
	/* SET ALL MARGINS*/
	/* margin: 20px; */
	/* SET T/B & L/R */
	/* margin: 20px 50px; */
	/* SET Individual (TOP, RIGHT, BOTTOM, LEFT)*/
	/*  */
	margin: 0 auto 0 auto;

}

.main-header {
	background: #000000;
}